@import "tailwindcss";

/* ====== Tema (Tailwind v4) ====== */
@theme {
  /* CORES */
  --color-blue: #13383c;
  --color-sand: #b9a277;
  --color-brand-white: #FDFFFC;
  --color-brand-black: #02070A;

  /* FONTES (ligadas aos CSS vars criadas pelo next/font no <html>) */
  --font-serif: var(--font-pt-serif);
  --font-sans: var(--font-montserrat);
}

/* utils que você já usa */
.text-balance { text-wrap: balance; }

/* altura total – o bg você já aplica via classe no <body> */
html, body { height: 100%; }
